<div th:fragment="sidebar" class="flex-column">
    <div>
        <div class="d-inline-flex">
            <i class="bi bi-people-fill"></i>
            <a class="nav-link text-black" data-bs-toggle="collapse" data-bs-target="#collapse-users"
               href="#collapse-users"><h5>&nbsp;Gerência de Usuários</h5></a>
        </div>
        <nav id="collapse-users" class="collapse">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/app/users/create">Cadastrar Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listar Usuários</a>
                </li>
                </li>
            </ul>
        </nav>
    </div>

    <div>
        <div class="d-inline-flex">
            <i class="bi bi-arrows-collapse"></i>
            <a class="nav-link text-black" data-bs-toggle="collapse" data-bs-target="#collapse-classroom"
               href="#collapse-users"><h5>&nbsp;Turmas</h5></a>
        </div>
        <nav id="collapse-classroom" class="collapse">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/app/classrooms/create">Cadastrar Turma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listar Turmas abertas</a>
                </li>
                </li>
            </ul>
        </nav>
    </div>

    <div>
        <div class="d-inline-flex">
            <i class="bi bi-arrows-collapse"></i>
            <a class="nav-link text-black" data-bs-toggle="collapse" data-bs-target="#collapse-disciplines"
               href="#collapse-users"><h5>&nbsp;Disciplinas</h5></a>
        </div>
        <nav id="collapse-disciplines" class="collapse">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/app/disciplines/create">Cadastrar Disciplina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listar Disciplinas</a>
                </li>
                </li>
            </ul>
        </nav>
    </div>

    <div>
        <div class="d-inline-flex">
            <i class="bi bi-arrows-collapse"></i>
            <a class="nav-link text-black" data-bs-toggle="collapse" data-bs-target="#collapse-professores"
               href="#collapse-users"><h5>&nbsp;Professores</h5></a>
        </div>
        <nav id="collapse-professores" class="collapse">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/app/teachers/create">Cadastrar Professor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listar Professores</a>
                </li>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="d-inline-flex">
            <i class="bi bi-arrows-collapse"></i>
            <a class="nav-link text-black" data-bs-toggle="collapse" data-bs-target="#collapse-horarios"
               href="#collapse-users"><h5>&nbsp;Horários</h5></a>
        </div>
        <nav id="collapse-horarios" class="collapse">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/app/schedules/create">Cadastrar Horário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listar Horários</a>
                </li>
                </li>
            </ul>
        </nav>
    </div>

    <div>
        <div class="d-inline-flex">
            <i class="bi bi-arrows-collapse"></i>
            <a class="nav-link text-black" data-bs-toggle="collapse" data-bs-target="#collapse-series"
               href="#collapse-users"><h5>&nbspSéries Escolares</h5></a>
        </div>
        <nav id="collapse-series" class="collapse">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/app/schoolgrades/create">Cadastrar Série Escolar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listar Séries Escolares</a>
                </li>
                </li>
            </ul>
        </nav>
    </div>

</div>



