<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/main::head('Sistema de Gerencimento Escolar')}"></head>

<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-light justify-content-between">
            <span class="navbar-brand h1">SIGES</span>
            <a class="text-primary" href="/login">Entrar</a>
        </nav>
        <div class="row justify-content-center">
            <div class="col justify-content-center">
                <span th:text="${titulo}">Sistema de Gerenciamento escolar</span>

            </div>
        </div>
    </div>
</div>

</body>
</html>