<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragments/main::head('Cadastro de Professor')}"></head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4" th:insert="~{fragments/sidebar_fragment::sidebar}">

            </div>
            <div class="col-8">
                <h1>Cadastro de Professor</h1>
                <form th:object="${teacherValidator}" class="form" action="/app/teachers/save" method="post">
                    <div class="form-group">
                        <label for="name">Nome do professor</label>
                        <input id="name" name="name" type="text" th:errorclass="is-invalid" class="form-control" th:field="*{name}">
                        <div class="invalid-feedback" th:errors="*{name}"></div>
                    </div>
                    <div class="form-group">
                        <label for="eligibleDisciplines"></label>
                        <select id="eligibleDisciplines" name="eligibleDisciplines" multiple class="form-select" th:field="*{eligibleDisciplines}">
                            <option th:each="discipline:${disciplines}" th:value="${discipline.id}" th:text="${discipline.name}"></option>

                        </select>
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>